fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
httpx
colorama
piexif
Pillow
python-multipart
numpy
opencv-python-headless
scipy
torch
torchvision
open_clip_torch
tqdm
scikit-learn
joblib
pandas
matplotlib
google-genai

seaborn
python-jose[cryptography]
bcrypt
motor
email-validator

